<mat-drawer-container class="example-container">
    <mat-drawer class="content-container" mode="side" opened>


        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>
    </mat-drawer>
    <mat-drawer-content class="listOfProducts">
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </mat-drawer-content>
</mat-drawer-container>